spring:
  datasource:
    url: jdbc:mysql://localhost:3306/campus?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: false
  jackson:
    serialization:
      indent_output: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.program.programdesignb.domain
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    org.hibernate.SQL: info
